<div class="conimage">  
     <div class="container">
        <div class="row justify-content-center align-items-center d-flex vh-100">
            <div class="col-md-4 mx-auto bg-white">
                <div class="py-4">
                    <div class="text-center mb-4">
                    </div>
                    <form id="joinForm" ng-submit="register()">
                        <div ng-show="errorMessage&&!messageWithLink&&!valLinkExpire" class="alert alert-danger" role="alert"> {{errorMessage}}</div>
					    <div ng-show="messageWithLink" class="alert alert-danger" role="alert"> {{errorMessage}} Click <a href="" ng-click="loginPage()">here</a> to login.</div>
                        <div ng-show="valLinkExpire" class="alert alert-danger" role="alert"> {{errorMessage}}  Please <a href="" ng-click="joinPage()">click here</a>  to reregister and receive a new email with a new link.</div>
                        <div ng-show="successMessage" class="alert alert-success" role="alert"> {{successMessage}} </div>

                        <div class="form-group">
                            <label class="mb-1">Your EmailID.</label>
                            <span class="required-asterisk">*</span>
                            <div class="position-relative icon-form-control">
                                <input type="email" ng-disabled="personEmailDisabled" class="form-control" ng-model="Email_id__c">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="mb-1">Enter Your Password</label>
                            <span class="required-asterisk">*</span>
                            <div class="position-relative icon-form-control">
                                <input type="password" id="new-password" ng-model="User_Password__c" class="form-control">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="mb-1">Enter Employee Id</label>
                            <span class="required-asterisk">*</span>
                            <div class="position-relative icon-form-control">
                                <input type="text" id="new-password" ng-model="Employee_Id__c" class="form-control">
                            </div>
                        </div>

                        <div id="message">
                            Your password must have atleast:
                            <p><b id="length" class="invalid">minimun 8 characters</b><br>
                            <b id="capital" class="invalid">atleast 1 uppercase</b><br>
                            <b id="number" class="invalid">atleast 1 number</b><br>
                            <b id="symbol" class="invalid">atleast 1 special character</b></p>                            
                        </div>

                        <button class="btn btn-primary btn-block text-uppercase" type="submit"> Submit&nbsp; </button>
                        <div class="align-item-center formExtra">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>