<div class="conimage">
    <div>
        <!-- <div class="container"> -->
            <div class="row justify-content-center align-items-center d-flex vh-100">
                <div class="col-md-4 mx-auto bg-white">
                    <div class="py-4">
                        <form id="joinForm" ng-submit="login()">
                            <div ng-show="errorMessage&&!messageWithLink&&!valLinkExpire" class="alert alert-danger" role="alert"> {{errorMessage}}</div>
                            <div ng-show="messageWithLink" class="alert alert-danger" role="alert"> {{errorMessage}} Click <a href="" ng-click="loginPage()">here</a> to login.</div>
                            <div ng-show="valLinkExpire" class="alert alert-danger" role="alert"> {{errorMessage}}  Please <a href="" ng-click="joinPage()">click here</a>  to reregister and receive a new email with a new link.</div>
                            <div ng-show="successMessage" class="alert alert-success" role="alert"> {{successMessage}} </div>
    
                            <div class="form-group">
                                <label class="mb-1">Email Address</label>
                                <span class="required-asterisk">*</span>
                                <div class="position-relative icon-form-control">
                                    <input type="email" ng-disabled="personEmailDisabled" class="form-control" ng-model="Email_id__c">
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="mb-1">Password</label>
                                <span class="required-asterisk">*</span>
                                <div class="position-relative icon-form-control">
                                    <input type="password" id="new-password" ng-model="User_Password__c" class="form-control">
                                </div>
                            </div>
                            <button class="btn btn-primary btn-block text-uppercase" type="submit"> Login&nbsp; </button>
                        </form>
                    </div>
                </div>
            </div>
        <!-- </div> -->
    </div>
</div>