<div class="imagesset">   
<div class="modal fade in" tabindex="-1" role="dialog" style="display:block;opacity: 1.5 !important;">
    <div class="modal-dialog animated fadeInDown" id="mobileCancelRes">

        <div class="modal-content"  style="width: 120%; margin: 0 auto;">
            <div class="modal-header">
              <h2>Which type of meeting ?</h2>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
              </div>
              <div class="modal-body">
                <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
                  <div class="btn-group mr-2" role="group" aria-label="Second group">
                    <div class="col" >
                      <button type="button" class="btn btn-dark"  ng-click=bookingCart()>One-To-One Meeting</button>
                    </div>
                  </div>

                  <div class="btn-group" role="group" aria-label="Third group">
                    <div class="col">
                      <button type="button" class="btn btn-dark"  ng-click=bookingCart()>Team Meeting</button>          
                  </div>
                  </div>

            </div>
              </div>
        </div>
    </div>
</div>>
</div>